@mixin button($color: green) {
  height: 24px;
  min-width: 24px;
  padding: 3px;
  text-align: center;
  position: relative;
  display: inline-block;
  color: rgba(0, 0, 0, .7);

  & span {
    font-size: 18px;
  }

  &:active, &.active {
    color: $color;
  }

  &:hover {
    background: #eee;
    cursor: pointer;
  }
}

@mixin input {
  margin: 0;
  padding: 2px 7px;
  border: 1px solid transparent;
  border-radius: 2px;
  color: #000;
  height: 20px;
  font-size: 18px;
  line-height: 22px;
  outline: none;  

  &:hover {
    border: 1px solid $border-color;
  }

  &:focus {
    border: 2px solid #1a73e8;
  }
}

@mixin clear-list() {
  list-style: none;
  margin: 0;
  padding: 0;
}