@import '@/scss/variables';
@import '@/scss/mixins';

.order__list-add {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0 $list-padding;

  .add-button {
    height: $add-button-height;
    width: 80px;
    position: relative;
    padding: 5px;

    & span {
      font-size: 70px;
    }
  
    &:hover {
      background: #eee;
      color: green;
      cursor: pointer;
    }
  }
}