@import '@/scss/variables';
@import '@/scss/mixins';

.order__header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  height: $header-height;
  padding: 8px $list-padding 0;
  z-index: 100;
  background: #fff;

  .input {
   @include input;
  }

  .button {
   @include button(red);
  }
} 