@import '@/scss/variables';
@import '@/scss/mixins';

.order__list-line {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  
  .input {
    @include input;
  }

  .price,
  .cost {
    display: flex;
    justify-content: center;
    width: 110px;
    min-width: 110px;
    color: #000;
    height: 20px;
    font-size: 18px;
    line-height: 22px;
    outline: none;
    cursor: default;
  }

  .cost {
    margin-right: 20px;
  }

  .count {
    width: 150px;
    min-width: 110px;
    text-align: center;
  }
  
  .button {
    @include button(red);
   }
}