@import '@/scss/variables';
@import '@/scss/mixins';

.order__total {
  position: sticky;
  bottom: 0;
  background: #fff;
  display: flex;
  justify-content: center;
  top: $header-height * 2;
  margin: 0 $list-padding;
  padding-bottom: 20px;
  font-size: 24px;
  color: #000;
  cursor: default;
}